[submodule "shortcut/chromeShortcuts"]
	path = shortcut/chromeShortcuts
	url = git@github.com:dianjie/chromeShortcuts.git
[submodule "awesome/emijrp-awesome-awesome"]
	path = awesome/emijrp-awesome-awesome
	url = git@github.com:emijrp/awesome-awesome.git
[submodule "cheat-sheet/yuxingxin-Awesome-Cheat-Sheet"]
	path = cheat-sheet/yuxingxin-Awesome-Cheat-Sheet
	url = git@github.com:yuxingxin/Awesome-Cheat-Sheet.git
[submodule "cheat-sheet/tiimgreen-github-cheat-sheet"]
	path = cheat-sheet/tiimgreen-github-cheat-sheet
	url = git@github.com:tiimgreen/github-cheat-sheet.git
[submodule "cheat-sheet/audreyr-favicon-cheat-sheet"]
	path = cheat-sheet/audreyr-favicon-cheat-sheet
	url = git@github.com:audreyr/favicon-cheat-sheet.git
[submodule "cheat-sheet/flyhigher139-Git-Cheat-Sheet"]
	path = cheat-sheet/flyhigher139-Git-Cheat-Sheet
	url = git@github.com:flyhigher139/Git-Cheat-Sheet.git
[submodule "devdocs/nodejs-cheatsheet"]
  path = devdocs/nodejs-cheatsheet
  url = https://gist.github.com/985b82968d8285987dc3.git
[submodule "fe/ElementUI-awesome-element"]
	path = fe/ElementUI-awesome-element
	url = git@github.com:ElementUI/awesome-element.git
[submodule "fe/opendigg-awesome-github-vue"]
	path = fe/opendigg-awesome-github-vue
	url = git@github.com:opendigg/awesome-github-vue.git
[submodule "awesome/erichs-awesome-awesome"]
	path = awesome/erichs-awesome-awesome
	url = git@github.com:erichs/awesome-awesome.git
[submodule "fe/dustinspecker-awesome-eslint"]
	path = fe/dustinspecker-awesome-eslint
	url = git@github.com:dustinspecker/awesome-eslint.git
[submodule "fe/wwsun-awesome-javascript"]
	path = fe/wwsun-awesome-javascript
	url = git@github.com:wwsun/awesome-javascript.git
[submodule "tools/jaywcjlove-awesome-mac"]
	path = tools/jaywcjlove-awesome-mac
	url = git@github.com:jaywcjlove/awesome-mac.git
[submodule "fe/vuejs-awesome-vue"]
	path = fe/vuejs-awesome-vue
	url = git@github.com:vuejs/awesome-vue.git
[submodule "fe/sindresorhus-awesome-nodejs"]
	path = fe/sindresorhus-awesome-nodejs
	url = git@github.com:sindresorhus/awesome-nodejs.git
[submodule "tools/iCHAIT-awesome-macOS"]
	path = tools/iCHAIT-awesome-macOS
	url = git@github.com:iCHAIT/awesome-macOS.git
[submodule "fe/uhub-awesome-css"]
	path = fe/uhub-awesome-css
	url = https://github.com/uhub/awesome-css
[submodule "tools/dictcp-awesome-git"]
	path = tools/dictcp-awesome-git
	url = git@github.com:dictcp/awesome-git.git
[submodule "fe/sorrycc-awesome-javascript"]
	path = fe/sorrycc-awesome-javascript
	url = https://github.com/sorrycc/awesome-javascript.git
[submodule "tools/Bakumon-awesome-online-tools"]
	path = tools/Bakumon-awesome-online-tools
	url = https://github.com/Bakumon/awesome-online-tools.git
[submodule "tools/BubuAnabelas-awesome-markdown"]
	path = tools/BubuAnabelas-awesome-markdown
	url = https://github.com/BubuAnabelas/awesome-markdown.git
[submodule "tools/mundimark-awesome-markdown"]
	path = tools/mundimark-awesome-markdown
	url = https://github.com/mundimark/awesome-markdown.git
[submodule "fe/nicejade-Front-end-tutorial"]
	path = fe/nicejade-Front-end-tutorial
	url = https://github.com/nicejade/Front-end-tutorial.git
[submodule "css3/@huixisheng/flexbox"]
	path = css3/@huixisheng/flexbox
	url = https://github.com/huixisheng/flexbox.git
[submodule "teams/@mdluo/awesome-fe-team"]
	path = teams/@mdluo/awesome-fe-team
	url = https://github.com/mdluo/awesome-fe-team.git
[submodule "vue/@itemsets/vue2"]
	path = vue/@itemsets/vue2
	url = https://github.com/itemsets/vue2.git
[submodule "pwa/@hemanth/awesome-pwa"]
	path = pwa/@hemanth/awesome-pwa
	url = https://github.com/hemanth/awesome-pwa.git
[submodule "fullstack/@kahun/awesome-sysadmin"]
	path = fullstack/@kahun/awesome-sysadmin
	url = https://github.com/kahun/awesome-sysadmin.git
[submodule "php/@CraryPrimitiveMan/awesome-php-zh_CN"]
	path = php/@CraryPrimitiveMan/awesome-php-zh_CN
	url = https://github.com/CraryPrimitiveMan/awesome-php-zh_CN.git
[submodule "frameworks/@JingwenTian/awesome-frontend"]
	path = frameworks/@JingwenTian/awesome-frontend
	url = https://github.com/JingwenTian/awesome-frontend.git
[submodule "frameworks/@lyfeyaj/awesome-resources"]
	path = frameworks/@lyfeyaj/awesome-resources
	url = https://github.com/lyfeyaj/awesome-resources.git
[submodule "fe/@dypsilon/frontend-dev-bookmarks"]
	path = fe/@dypsilon/frontend-dev-bookmarks
	url = https://github.com/dypsilon/frontend-dev-bookmarks.git
[submodule "php/@chiraggude/awesome-laravel"]
	path = php/@chiraggude/awesome-laravel
	url = https://github.com/chiraggude/awesome-laravel.git
[submodule "javascript/@adam-s/js-interview-review"]
	path = javascript/@adam-s/js-interview-review
	url = https://github.com/adam-s/js-interview-review.git
