[submodule "shortcut/chromeShortcuts"]
	path = shortcut/chromeShortcuts
	url = git@github.com:dianjie/chromeShortcuts.git
[submodule "awesome/emijrp-awesome-awesome"]
	path = awesome/emijrp-awesome-awesome
	url = git@github.com:emijrp/awesome-awesome.git
[submodule "cheat-sheet/yuxingxin-Awesome-Cheat-Sheet"]
	path = cheat-sheet/yuxingxin-Awesome-Cheat-Sheet
	url = git@github.com:yuxingxin/Awesome-Cheat-Sheet.git
[submodule "cheat-sheet/tiimgreen-github-cheat-sheet"]
	path = cheat-sheet/tiimgreen-github-cheat-sheet
	url = git@github.com:tiimgreen/github-cheat-sheet.git
[submodule "cheat-sheet/audreyr-favicon-cheat-sheet"]
	path = cheat-sheet/audreyr-favicon-cheat-sheet
	url = git@github.com:audreyr/favicon-cheat-sheet.git
[submodule "cheat-sheet/flyhigher139-Git-Cheat-Sheet"]
	path = cheat-sheet/flyhigher139-Git-Cheat-Sheet
	url = git@github.com:flyhigher139/Git-Cheat-Sheet.git
[submodule "devdocs/nodejs-cheatsheet"]
  path = devdocs/nodejs-cheatsheet
  url = https://gist.github.com/985b82968d8285987dc3.git
[submodule "fe/ElementUI-awesome-element"]
	path = fe/ElementUI-awesome-element
	url = git@github.com:ElementUI/awesome-element.git
[submodule "awesome/erichs-awesome-awesome"]
	path = awesome/erichs-awesome-awesome
	url = git@github.com:erichs/awesome-awesome.git
